@{
    ViewData["Title"] = "Internal Booking System";
}

<div class="text-center">
    <h1 class="display-4">Booking Application</h1>
    <p> Please use the navigation bar to access pages</p>
    <p> Please click on Booking to book an asset/resource </p>
    <p> Please click on Resource Management to register an asset/resource</p>
    
</div>
